html {
	max-width: 100%;
    height:100%;
}

body {
	background-image: url("../img/ring.png");
	height: 100%; 
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


.icon{
	height: 100px;
	margin-top: 50px;
}

#logo {
	background-image: url("../img/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 20%;
	margin-top: 10px;
}

#bhat {
	background-image: url("../img/hat.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-top: 30px;
	height: 80px;
}

#bull {
	background-image: url("../img/bull.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 250px;
}

p.lowestmove{
	position: relative;
	color: white;
	size: 2rem;
	text-align:center;
	top: 50%;

}

#bar {
	background-image: url("../img/movekeeper.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 80px;
}

#sun {
	background-image: url("../img/time.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 30%;
	margin-top: 80px;
	height: 250px;
}

#flag {
	background-image: url("../img/flag.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-top: 80px;
	height: 250px;
}

.gamecanvas {
	max-width: 100%;
	display: block;
	width: 656px;
	height: 656px;
	background: white;
	border: 8px solid black;
	margin-top: 35px;
}

.timer{
	font-size: 3rem;
	margin-left: 80px;
	padding-top: 80px;
}


#myBtn{
	margin-left: 100px;
	margin-top: 80px;
}


@media screen and (orientation:portrait) {
 /*   // CSS applied when the device is in portrait mode*/

.leaderbg {
	background-size: contain;
	margin-left: 10px;
}

.modal-content {
	margin-left: 10px;
}

html {
  transform: rotate(90deg);
  transform-origin: 20% 40%;

	background: url("background image 1.jpg") no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
}

}










